<% provide(:title, "Help")%>
<h1>Help</h1>
<p>
	
	<a href="https://railstutorial.jp/help">HELPだよ</a>
TO get this app , see the 
	 <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
  book</a>
</p>